/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
/* Fuentes */

:root {
  --PT-Sans-400-700: "PT Sans";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--PT-Sans-400-700), sans-serif;
}

.main-container {
  width: 100%;
  min-height: 100vh;

  background: #0f0f0f;
  /* 
  background: -webkit-linear-gradient(
    to bottom,
    #4286f4,
    #373b44
  ); /
  background: linear-gradient(
    to bottom,
    #4286f4,
    #373b44
  );  */
}

.header {
  padding: 1em;
}

.titulo {
  color: #fcfffc;
  font-weight: 700;
  font-size: 2.5em;
  text-align: center;
}

.cta-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 3em;
  padding: 1.5em;
}

.btn-mic {
  width: max-content;
  height: 60px;
  padding: 1em;
  background: #fcfffc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.mic-icon {
  width: 2em;
}

.text-btn {
  font-size: 17px;
  font-weight: 600;
}

.texto-escucha {
  width: 100%;
  max-width: 800px;
  min-height: 300px;
  background: #fcfffc;
  padding: 5px;
  border-radius: 10px;
  /* background: linear-gradient(145deg, #0e0e0e, #101010); */
  box-shadow: 20px 20px 60px #0d0d0d, -20px -20px 60px #111111;
  overflow: hidden;
}

.text {
  color: #0f0f0f;
  font-size: 16px;
}
